OPENAI_API_KEY=
TAVILY_API_KEY=


ANTHROPIC_API_KEY=
GOOGLE_API_KEY="
EDGAR_USER_AGENT="FinanceAgent oc90699@yahoo.com"

# Optional for evaluation and tracing
LANGSMITH_API_KEY=
# uncomment to set tracing to true when you set up your LangSmith account
LANGSMITH_TRACING="true"
LANGSMITH_PROJECT="lec-finance-agent"
HF_TOKEN=